@model IEnumerable<PollSystem.Models.Poll>

@{
    ViewBag.Title = "List Of All Polls";
}

<header>
	<h1>Poll System - List of all polls - Page 5 / 8</h1>
</header>
<section>
    @foreach (var poll in Model)
    {
        double coef = 100 / poll.Votes.Count();
        <article class="clear">
            <div class="question">
                @poll.Title
            </div>
            <form action="@Url.Action("Vote", new { id = poll.Id })" method="get">
                <input type="submit" value="Vote!" class="buttonVote" />
            </form>
            <div class="votes">
                <table>
                    @foreach (var answer in poll.Answers)
                    {
                        <tr>
                        <td><div class="progress"><span style="width: @(coef * poll.Votes.Where(v => v.AnswerId == answer.Id).Count())px;" class="votePercents"></span></div></td>
                        <td class="answer"><strong>@answer.Content</strong> (@(poll.Votes.Where(a => a.AnswerId == answer.Id).Count()) votes)</td>
                    </tr>
                    }
                </table>
            </div>
        </article>
    }
</section>
<nav>
	<a href="#">First</a>
	<a href="#">Prev</a>
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">6</a>
	<a href="#">7</a>
	<a href="#">8</a>
	<a href="#">Next</a>
	<a href="#">Last</a>
</nav>
<footer>
	Copyright &copy; Polls System 2012
</footer>