@model IEnumerable<PollSystem.Models.Poll>

@{
    ViewBag.Title = "List Of All Polls";
}

<header>
	<h1>Poll System - List of all polls - Page @ViewBag.Page / @ViewBag.AllPages</h1>
</header>
<section>
    @foreach (var poll in Model)
    {
        double coef = 0;
        if (poll.Votes.Count() != 0)
        {
            coef = 100 / poll.Votes.Count();
        }
        <article class="clear">
            <div class="question">
                @poll.Title
            </div>
            <form action="@Url.Action("Vote", new { id = poll.Id, page = ViewBag.Page })" method="get">
                <input type="submit" value="Vote!" class="buttonVote" />
            </form>
            <div class="votes">
                <table>
                    @foreach (var answer in poll.Answers)
                    {
                        <tr>
                        <td><div class="progress"><span style="width: @(coef * poll.Votes.Where(v => v.AnswerId == answer.Id).Count())px;" class="votePercents"></span></div></td>
                        <td class="answer"><strong>@answer.Content</strong> (@(poll.Votes.Where(a => a.AnswerId == answer.Id).Count()) votes)</td>
                    </tr>
                    }
                </table>
            </div>
        </article>
    }
</section>
<nav>
    <a href="AllPolls?page=1">First</a>
    @if (ViewBag.Page > 1)
    {
        <a href="AllPolls?page=@(ViewBag.Page - 1)">Prev</a>
    }
    else
    {
        <a href="AllPolls?page=1">Prev</a>
    }
    @if (ViewBag.AllPages >= 8)
    {
        if(ViewBag.Page >= 8)
        {
            for (int i = ViewBag.Page - 8; i <= ViewBag.Page; i++)
            {
                <a href="AllPolls?page=@i">i</a>
            }
        }
        else
        {
            for (int i = 1; i <= 8; i++)
            {
                <a href="AllPolls?page=@i">i</a>
            }
        }
    }
    else
    {
        for (int i = 1; i <= ViewBag.AllPages; i++)
        {
            <a href="AllPolls?page=@i">@i</a>
        }
    }
    @if (ViewBag.Page < ViewBag.AllPages)
    {
        <a href="AllPolls?page=@(ViewBag.Page + 1)">Next</a>
    }
    else
    {
        <a href="AllPolls?page=@ViewBag.AllPages">Next</a>
    }
    <a href="AllPolls?page=@ViewBag.AllPages">Last</a>
</nav>
<footer>
	Copyright &copy; Polls System 2012
</footer>