@model PollSystem.Models.Poll
@{
    ViewBag.Title = "Vote";
}

            <header>
				<h1>Please answer the question "@Model.Title"
				</h1>
			</header>
			<article class="clear">
                @foreach (var answer in Model.Answers)
                {
                    <div class="question">
                        @answer.Content
                    </div>
    <input type="button" value="Vote!" data-id="@answer.Id" data-pollid="@Model.Id" data-page="@ViewBag.Page"
           data-url="@(Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath)" class="buttonVote vote" />
                }
				<a href="@Url.Action("AllPolls", "Poll", new { page = @ViewBag.Page })" class="buttonBackToVoteList">Back to the list of polls</a>
			</article>
			<footer>
				Copyright &copy; Just Polls (forever beta) 2012
			</footer>
<div id="dialog" title="Warning" style="display: none;">
    <p>Sorry, you have voted for this question from this IP address</p>
</div>