@model PollSystem.Models.Poll
@{
    ViewBag.Title = "Vote";
}

            <header>
				<h1>Please answer the question "@Model.Title"
				</h1>
			</header>
			<article class="clear">
                @foreach (var answer in Model.Answers)
                {
                    <div class="question">
                        @answer.Content
                    </div>                    
                    <form action="@Url.Action("CreateVote", new { id = answer.Id, pollId = @Model.Id })" method="post">
                        <input type="submit" value="Vote!" class="buttonVote" />
                    </form>
                }
				<a href="@Url.Action("AllPolls", "Poll", new { page = @ViewBag.Page })" class="buttonBackToVoteList">Back to the list of polls</a>
			</article>
			<footer>
				Copyright &copy; Just Polls (forever beta) 2012
			</footer>
